* {
    box-sizing: border-box;
}

%before_and_after {
    position: absolute;
    content: '';
    right: 0;
    height: 3px;
    width: 30px;
    background-color: $second-bcg;
}

header {
    background-color: $main-bcg;
    color: $second-bcg;
    font-family: sans-serif;
    max-height: 90px;
    .burger {
        height: 19px;
        width: 30px;
        background-color: $second-bcg;
        float: right;
        margin: 30px 5px;
        position: relative;
        border-top: 8px solid $main-bcg;
        border-bottom: 8px solid $main-bcg;
        @media (min-width: $tablet) {
            display: none;
        }
        &:before {
            @extend %before_and_after;
            top: 10px;
        }
        &:after {
            @extend %before_and_after;
            top: -10px;
        }
    }
    .header-logo {
        line-height: 70px;
        font-size: 27px;
    }
    nav {
        display: none;
        @media (min-width: $tablet) {
            display: block;
        }

        ul {
            position: relative;
            display: block;
            text-align: right;
            padding: 10px 40px 0 0;
            @media (min-width: $tablet) {
                padding-right: 0;
            }
            li{
                list-style-type: none;
                display: inline-block;
                font-size: 22px;
                padding: 0 4px;
            }
        }
    }
}

.active {
    position: relative; 
    ul {
        position: absolute;
        top: 47px;
        right: -2%; 
        background-color: $main-bcg;
        padding: 3px 3px;
        text-align: center;
        li {
            display: block;
            padding: 4px 4px;
        }   
    } 
}

.main-content-left {
    margin: 10px 0;
    height: 250px;
}

.col-sm-12.col-md-6 .main-content-left {
    border-right: 0;
    background-color: $main-bcg;  
}

.col-sm-12.col-md-6 {
    h1 {
        border-left: 0;
        padding: 5px 20px;
        margin: 10px 0;
        color: $main-bcg;
        overflow: auto;
    }
    p {
        border-left: 0;
        padding: 5px 20px;
        margin: 10px 0;
        color: $main-bcg;
        overflow-y: auto;
        height: 160px;
    }
}

.content {
    background-color: $main-bcg;
    color: $second-bcg;
    .content-left,
    .content-center,
    .content-right {
        background-color: #fff;
        display: block;
        height: 280px;
        margin: 1px solid $border-color;
    }
}

footer {
    .footer-copy {
        display: block;
        float: left;
        line-height: 30px;
    }
    .footer-logo {
        display: block;
        float: right;
        text-align: right;
        line-height: 30px;
    }
}
